@import "./ComponentsStyle/body",
        "./ComponentsStyle/colores",
        "./ComponentsStyle/mixin";


/*Estilos el Menu*/
#menu {
    font-size: 18px;
    font-weight: bold;
    color: $color1;

    button{
        font-size: 18px;
        font-weight: bold;
    }
}


.carousel-inner{
    max-height: 39rem;
}

.cont-1{
    margin: auto;
    text-align: center;
}

.cont-2{
    @extend .cont-1;
}



/*Estilos contacto mapa*/
#local{
    background: $color2;
    padding-bottom: 300px;
    display: flex;
    justify-content: center;
}

.mapa{
    padding-top: 25px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.wrapper{
    width: 50%;
    margin-left: 100px;
    padding-top: 30px;
}

.cali{
    &:hover{
        font-size: 30px;
        font-weight: 700;
    }    
}

#telefonos-local{
    div{
        padding: 0 20px 0 0;
        height: 48px;
    }

    div:not(:last-child){
        border-right: 2px solid $color1;
    }

    div:not(:first-child){
        padding-left: 20px;
    }

    p{
        margin: 0;
    }
    
}

/*Formulario bg*/
#bg-contactos{
    position: relative;
    top: -130px;
}

#seccion-contacto{
    background-color: $color3;
    min-height: 600px;
    position: relative;
}

/*Contactos formularios*/
#contenedor-formulario{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $color4;
    border-radius: 5px;
    max-width: 500px;
}

#titulo-formulario{
    color: $color1;
}

textarea{
    resize: none;
}

/*footer*/
footer{
    background: $color3;
    min-height: 100px;

    p{
        color: $color2;
        text-align: center;
    }
}


#iconos{
    font-size: 26px;
    padding: 0 8px;
    color: $color2;
}


/*Media Queries para pantallas SM*/
@media screen and (max-width:768px) {
    #contenido #equipo{
        width: 90% !important;
    }

    .servicio-fila{
        width: 100% !important;
        text-align: center;
    }

    #bg-contactos{
        top: -110px;
    }
    
}


/*Media Queries para pantallas Extra-SM*/
@media screen and (max-width:576px){
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }

    .mapa{
        padding-top: 25px;
        width: 85%;
        height: 300px;
        

        img{
            width: 100%;
            height: 220px;
        }
    }


}

/*Media Queries para pantallas anchas*/ 
@media screen and (max-width:1200px) {
    #local{
        flex-wrap: wrap;
        padding-top: 30px;
    }

    .wrapper{
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }
}